# Frontend
kaban-frontend/node_modules/
kaban-frontend/.nuxt/
kaban-frontend/.output/

# Backend
kaban-backend/node_modules/
kaban-backend/dist/
kaban-backend/.env
kaban-backend/.uploads/

# Root artifacts
.nuxt/
node_modules/
